@charset "UTF-8";
$color_01:#ef5350;
$color_02:#ec407a;
$color_03:#ab47bc;
$color_04:#7e57c2;
$color_05:#5c6bc0;
$color_06:#42a5f5;
$color_07:#29b6f6;
$color_08:#26c6da;
$color_09:#26a69a;
$color_10:#66bb6a;
$color_11:#9ccc65;
$color_12:#d4e157;
$color_13:#ffee58;
$color_14:#ffca28;
$color_15:#ffa726;
$color_16:#ff7043;
$color_17:#8d6e63;