@charset "UTF-8";
$background_color:rgba(255,255,255,1.0);
$character_color:rgba(0,0,0,0.80);
$primary_color:#d7ccc8;
$light_color:#fffffb;
$dark_color:#a69b97;
@import url('https://fonts.googleapis.com/css?family=Barrio|Covered+By+Your+Grace|Crushed|Fredericka+the+Great|Gochi+Hand|Kaushan+Script|Kranky|Love+Ya+Like+A+Sister|Monoton|Playball|Shrikhand|Titan+One');
$font_logo: 'Playball', cursive;
@import url('https://fonts.googleapis.com/css?family=Dosis:800|Fredoka+One|Laila:700|Nunito:700|Overlock:900|Quicksand:700"');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
$font-normal: 'Quicksand', sans-serif,'Noto Sans Japanese';


@keyframes a_hover_animation{
    0%{color:rgba(0,0,0,0.8);}
    100%{color:rgba(0,0,0,0.1);}
} 
%a_hover_anim{
    animation-name: a_hover_animation;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}

//セッティング
html{
    width:100%;
    height:100%;
    overflow-y:scroll;
    font-family: $font-normal;
}
ul{
    list-style: none;
}
a{
    font-family: $font-normal;
    text-decoration: none;
    color: $character_color;
    
}
a:hover{
        animation-name: a_hover_animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    }
h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
}
%material_box{
    border-radius:0.2rem;
}
%btn_default{
    background-color: $dark_color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    color:rgba(255,255,255,1);
    font-size: 1.1rem;

}
ul{margin:0;
padding:0;}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
p{
    margin:0;
    padding:0;
}
// レイアウト///////////////////////////////////////////
// 全体
body{
    width:100%;
    height:100%;
    background-color: $background_color;
    color:$character_color;
}
.wrapper{
    width:100%;
    height:100%;
    background-color: $background_color;
}
// ヘッダ
header{
    width:100%;
    height:5rem;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    position:fixed;
    color:rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.90)
}
// 検索窓のエリア指定
.area-search{
    order:1;
    width:40%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.mod-search{
    order:1;
    width:40%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
// ロゴのエリア指定
.area-logo{
    order:2;
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
// ナビゲーションバーのエリア指定
.area-navbar{
    order:3;
    width:40%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod-navbar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width:100%;
    height:50%;
}
.area-space-nav{
    width:100%;
    height:5rem;
}
// メイン部分
// 縦は要素の文だけ広げていく
main{
    width:100%;
}
//メインコンテンツのラッパ
.area-cmn-main{
    width:100%;
}

.area-img-top{
    width:100%;
    height:35rem;
    background-image: url("../image/background_sample.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover; 

}
.area-contents-01{
    width:100%;

}
[class*=card-0]{
    width:100%;
    height:25rem;
    display:flex;
    justify-content: center;

    [class*=area-img]{
        display:inline-block;
        width:60%;
        height:100%;

    }
    [class*=area-comment]{
         display:inline-block;
        width:40%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;

    }

}
[class*=box-comment-]{
    width:70%;
    height:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// モジュール////////////////////////////////////////////////////
[class*=icon-header]{
    width:2.5rem;
    height:auto;
}
[class*=card-navbar-]{
    display: flex;
    justify-content: center;
    align-items: center;
    width:19%;
    height:100%;
    
    [class*=str-navbar]{
        color: $character_color;
        &:hover{
           @extend %a_hover_anim; 
        }
    }

    
}
.form-keyword{
    width:100%;
    height:2rem;
    max-width: 20rem;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
     box-shadow:0 0 0.05rem 0.05rem rgba(0,0,0,0.30);
    @extend %material_box;
}
#search-text{
    height:100%;
    width:80%;

}



#btn-submit{
    height:100%;
    width:3.5rem;
    background-color:$dark_color;
    text-align: center;
    color:rgba(255,255,255,0.90);
    font-family: $font-normal;
    font-size:1.3rem;
}
.ico-logo{
    margin:0;
    font-family: $font_logo;
    font-size: 3.5rem;
    text-align: center;
    
}
.str-img-top{
    font-size: 2.5rem;
    color:rgba(255,255,255,0.95);
    margin:0;
    padding:0;
}
    [class*=area-img]{
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover; 
    }
    .area-img-01{
background-image: url("../image/community.png");
    }
    .area-img-02{
background-image: url("../image/door.png");
    }
    .area-img-03{
background-image: url("../image/myroom.png");
    }
    .area-img-04{
background-image: url("../image/phone.png");
    }
    .area-img-05{
background-image: url("../image/friends.png");
    }
[class*=area-comment]{
    background-color: $light_color;
}
[class*=btn-comment-]{
    @extend %btn_default;
    @extend %material_box;
    width:60%;
    height:3rem;
}

